@import "./variables/variables.scss";

body {
    margin: 0;
    padding: 0;
    background: $backgroundColor;
}
.paper {
    position: absolute;
    height: 70vh;
    width: 30vw;
    background: $paperWhite;
    margin-top: 15vh;
    margin-left: 35vw;
    box-shadow: 0px 0px 5px 0px $shadowColor;

    .lines {
        margin-top: 3rem;
        height: calc(100% - 3rem);
        width: 100%;
        background-image: repeating-linear-gradient(white 0px, white 1.5rem, $blueLine 1.6rem);

        .text {
            position: absolute;
            top: 1.95rem;
            left: 55px;
            bottom: 10px;
            right: 10px;
            line-height: 1.6rem;
            font-family: $textFont;
            overflow: hidden;
            outline: none;
            color: $textColor;

            input {
                border: none;
                background-color: $blueLine;
                color: $paperWhite;
            }
            ::placeholder {
                    color: $paperWhite;
                }
        }
    }
}
.paper::before {
    content: "";
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: $redLine;
}

.holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: $backgroundColor;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px $shadowColor;
}
.hole-top {
    top: 10%;
}
.hole-middle {
    top: 50%;
}
.hole-bottom {
    bottom: 10%;
}
