//IMPORTS
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

//COLORS
$backgroundColor: lightgoldenrodyellow;
$paperWhite: rgba(255, 255, 255, 0.9);
$redLine: rgba(255, 0, 0, 0.4);
$shadowColor: #888;
$blueLine: steelblue;
$textColor: rgba(12, 28, 119, 0.938);
//FONTS
$textFont: 'Indie Flower';

//MIXINS